body{
    background-color: rgb(23, 23, 23);
}
.frame{
   border: 3px solid rgb(196,196,196);
    padding: 1px;
    width: 239px;
    height:356px;
    border-radius:15px;
    margin:auto;
}
img{
    border: 3px solid rgb(196,196,196);
    width:98%;
    padding:0;
    margin-bottom:2px;
    transition:0.25s;
    border-radius:10px;

}
img:hover{
    filter:saturate(1);
    transform:rotate(5deg);
    
    
}
